:root {
  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  background-color: var(--Very-Light-Gray);
}

header {
  height: 20vh;
  width: 35vw;
  margin-top: 5rem;
  text-align: center;
  color: var(--Very-Dark-Blue);
  /* border: solid 2px green; */
}
header > p {
  font-weight: 400;
  color: var(--Grayish-Blue);
  padding-top: 1.1rem;
}

h1 {
  font-size: 2.4rem;
  font-weight: 200;
}
span {
  font-size: 2.4rem;
  font-weight: 600;
}
main {
  /* min-height: 70vh; */
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.column {
  padding-top: 0.5rem;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin: 2rem 1rem;
  height: 16.8rem;
  width: 23.5rem;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 10px 20px 10px rgba(76, 78, 97, 0.1);
}
.line {
  height: 0.25rem;
  width: 100%;
  position: absolute;
  top: 0;
}
.supervisor {
  background-color: var(--Cyan);
}
.team {
  background-color: var(--Red);
}
.karma {
  background-color: var(--Orange);
}
.calculator {
  background-color: var(--Blue);
}
.description {
  flex: 50%;
  padding: 2rem;
}
.description > h2 {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--Very-Dark-Blue);
}
.description > p {
  font-size: 0.85rem;
  padding-top: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: var(--Grayish-Blue);
}
.image {
  flex: 50%;
  padding-top: 0.8rem;
  margin-left: 65%;
}

footer > p,
a {
  padding-bottom: 1rem;
  font-size: 0.8rem;
}

/* Responsive layout - makes a one column-layout instead of three-column layout */
@media (max-width: 1160px) {
  main {
    flex-direction: column;
    margin-top: 20vw;
  }
  header {
    width: 80vw;
    margin-top: 220vw;
  }
  .card {
    width: 85vw;
  }
  h1,
  span {
    font-size: 6.5vw;
  }

  .column {
    margin-top: -2.5rem;
  }
}
